.body-grid-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
justify-content: center;
  h1 {
    color: blue;
  }
  .quote-wrapper {
    width: 50%;
    height: 550px;
    display: flex;
    flex-flow:row wrap;

    .list-group-item {
      flex-basis: 50%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .list-group-item:nth-child(1),.list-group-item:nth-child(4) {
      background: black;
      color: white;
    }
    .list-group-item:nth-child(3),.list-group-item:nth-child(2) {
      background: white;
    }
  }
  .single-quote {
    width: 50%;
    background: blue;
    height: 550px;

    .list-group-item-large {
      flex-basis: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
//test
.blue_bg {
  flex-flow: row-reverse;
  background: blue;
  h1 {
    color: white;
  }
}
